body {
  background-color: #f2f6f8;  
  font-family: "Poppins", sans-serif;
}

.App-header {
  font-size: 25px;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
  text-transform: uppercase;
}



.App-footer {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}

.App a:hover {
  color: #5ba4c6;
}
