*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: center;
}

h1 {
    font-size: 15px;
}

h2, h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px;
}


.Meal div {
    display: inline-block;
}

.card{
    background-color: #FEEDB1;
    border: none;
    width: 275px;
    height: 100%;
    margin: 30px 10px;
    padding: 10px 0px 0px 0px;
}

.card img{
    width:100%;
}

.card button{
   background: #FEEDB1;
   border: none;
   color: #35404e;
   padding: 5px 0px;
   width: 100%;
}

.card button:hover{
    background: #f5d12b; 
    color: black;
    opacity: 80%;
    transition: all 500ms ease;
}

.recipeDetails{
    margin-top: 40px;


}

.recipeDetails p{
    margin-bottom: 5px;
    line-height: 22px;
    padding: 0px 100px;
}

.recipeDetails hr{
    border: 0.5px solid #35404e;
    margin: 30px auto;
    width: 75%;
}
