*{
    margin: 0;
    padding: 0;
    font-size: 13px;
}

h1 {
    font-size: 13px;
    text-align: center;
}

.Meal div {
    display: inline-block;
}

.card{
    background-color: #FEEDB1;
    border: none;
    width: 275px;
    height: 100%;
    margin: 40px 10px;
    padding: 10px 0px 0px 0px;
}

.card img{
    width:100%;
}

.card button{
   background: #FEEDB1;
   border: none;
   color: #35404e;
   padding: 5px 0px;
   width: 100%;
}

.card button:hover{
    background: #f5d12b; 
    color: black;
    opacity: 80%;
    transition: all 500ms ease;
}

.recipeDetails h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
}