*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 13px;
    text-align: center;
}

.Meal {
    margin:0 auto;
  
}

.card{
    background-color: #FEEDB1;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    margin: 50px 0px;
    padding: 10px 0px 0px 0px;
}

.card img{
    width:100%;
}